#me{
	height: 300px;
	/*width: 200px;*/
	align: center;
}


h2{
	font: Helvetica;
	text-align: center;
}

body {
	background: #F0F8FF;
}

#resume{
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-style: dotted;
	border-color: black;
	margin: 15px;
	color: navy;
}